.job-container {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  background-color: #190284;
  margin: 0;

}

.search-results-title {
  background-color: #190284;
  color: white;
  padding-bottom: 2em;
  padding-left: 1.25em;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* mobile size */
@media screen and (max-width: 428px) {
  .job-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .search-results-title {
    font-size: 15px;
  }
}

/* tablet size */
@media screen and (min-width: 690px) and (max-width: 1030px) {
  .job-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em;
  }

  .search-results-title {
    font-size: 20px;
  }
}
