.header {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
}

.shape {
  position: relative;
}

.custom-shape-divider-top-1632345337 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1632345337 svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 279px;
    transform: rotateY(180deg);

}

h1 {
  position: relative;
}

.title {
  position: absolute;
  color: #012D5B;
  margin-left: 10px;
}

.menu {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.favorites-page,
.resources-page {
  text-decoration: none;
  cursor: pointer;
  color: #012D5B;
  margin: 13px;
}

.career-title {
  margin-top: 18vh;
  margin-bottom: 0;
  font-size: 60px;
}

.government-title {
  font-size: 27px;
  margin-top: 1vh;
  margin-bottom: 0;
}

.custom-shape-divider-top-1632345337 .shape-fill {
    fill: #EDDE18;
}
