.details {
  height: 1000px;

  background-color: #190183;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;



}

.heading-details {
  padding: 300px;
  padding-bottom: 0;
  color: white;
  text-align: center;
}

.heading-org-details,
.heading-dept-details {
  color: white;
  text-align: center;
  margin: 0;
}

.duties-details {
  padding-top: 40px;
  padding-bottom: 0;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 0;

  color: white;
  font-family: 'Roboto', sans-serif;
}

.role-question {
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 30px;
  margin: 0;
  font-size: 50px;
}
