.footer {
  height: 75px;
  width: 100%;
  background-color: #190183;
  color: white;
}

h4 {
  margin: 0;
  margin-bottom: 0;
  margin-left: 15px;
  font-size: 0.75em;
  padding: 0;
}

.link-container {
  height: 60px;
  margin-top: 0;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-link {
  color: white;
  text-decoration: none;
  font-size: 0.75em;
  margin-top: 0;
  margin-bottom: 5px;
}
